@import "~bootstrap/scss/bootstrap";
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';


$base-color: #3f4e55;
$container-color: #7b9a8f;
$text-color: #555;
$text-colordesc: #444;

body {
    background-color: $container-color;
    font: 400 16px/20px 'Roboto', sans-serif;
    margin-left: 10px;
    margin-right: 10px;
    p{
        color: $text-color;
        font: 16px 'Roboto', sans-serif;
        padding-left: 20px;
        padding-right: 20px;
        text-align: justify;
    }
}

nav{
    background-color: $base-color;
    margin-left: -10px;
    margin-right: -10px;
}

.dropdown{
    position: relative;
    padding-top: 0.6rem;
}

h1{
    color: #ffffff;
    font: 400 16px/72px 'Rationale', sans-serif;
    font-size: 72px;
    text-align: center;
}
h2{
    color: $text-color;
    font: 400 16px/20px 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: bold;
}

h3{
    color: #FFFFFF;
    font: 400 16px/24px 'Roboto', sans-serif;
    font-size: 18px;
    text-align: center;
    background-color: $base-color;
    padding-top:5px;
    padding-bottom: 5px;
}

h4{
    color: #FFFFFF;
    font: 400 16px/24px 'Roboto', sans-serif;
    font-size: 18px;

    padding-top:5px;
    padding-bottom: 5px;
}

h5{
    color: #FFFFFF;
    font: 400 16px/24px 'Roboto', sans-serif;
    font-size: 18px;
    text-align: justify;
    padding-top:5px;
    padding-bottom: 5px;
}


a{
    color:$text-color;
}

a:hover{
    color:#ffffff;
    text-decoration: none;
}

.embed-responsive .card-img-top {
    object-fit: cover;
}

.embed-responsive {
    position: relative;
    display: block;
    width: 100%;
    height: 35vw;
    padding: 0;
    overflow: hidden;
}

.card{
    background-color: $container-color;
    border: 0px;
    border-radius: 0px;
}
.row{
    justify-content: left;
}

.formcategory{
    background-color: $container-color;
    border: 1px solid $base-color;
    border-radius: 5px;
    width: 60%;
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    padding-left: 10px;
}

.btn-primary {
    color: #fff;
    background-color: $base-color;
    border-color: $base-color;
}

.emailImage {
    width: 50px;
    height: 50px;
}

.login {
    display: flex;
    justify-content: center ;
}

.btn-light {
    margin-right:5px;
}

.svg-inline--fa.fa-w-16 {
    width: 2em;
    color: #fff;
}

.svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 2em;
    overflow: visible;
    vertical-align: -.125em;
}

label {
    color: $text-color;
}

.btn-link {
    text-decoration: none;
}

.username{
    color: rgba(255, 255, 255, 0.5);
    margin-right: 10px;
}

.roundedImage {
    display: inline-block;
    border: 4px solid gray;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}

.roundedImage img {
    width: inherit;
    height: inherit;
    object-fit: cover;
    object-position: top;
}

.pagination {
    display: flex;
    padding-left: 30px !important;
    list-style: none;
    border-radius: 0.25rem;
}

.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    background-color: #7b9a8f !important;
    border: 0 !important;
    color: #555 !important;
}
.page-item.disabled .page-link {
    color: #555 !important;
}

.svg-inline--fa.fa-w-18 {
    width: 3em !important;
}

.rating a {
    float: right;
    color: #aaa;
    text-decoration: none;
    font-size: 2em;
    transition: color .4s;
}
.rating a:hover,
.rating a:focus,
.rating a:hover ~ a,
.rating a:focus ~ a {
    color: orange;
    cursor: pointer;
}
